<footer class="darkBgTwo mt-auto py-16 sm:py-24 text-white">
  <div class="container">
    <div class="border-t-2 border-[#2F2F2F] pt-10 mb-6">
      <h2 class="text-white text-4xl sm:text-5xl md:text-6xl">Get In Touch</h2>
    </div>
    <div class="row gy-4">
      <div class="lg:col-5">
        <p class="font-light max-w-xs">
          Feel free to reach out with questions or Project inquiries.
        </p>
      </div>
      <div class="lg:col-7">
        <div class="row gy-4">
          <div class="sm:col-5 md:col-4">
            <h3 class="text-white text-2xl sm:text-3xl mb-4">Contact</h3>
            <p class="uppercase">
              <a class="has-line-link-white" href="tel:+35699244790">
                <span class="line-link-el">+356 9924-4790</span>
              </a>
            </p>
          </div>
          <div class="sm:col-5 md:col-4">
            <h3 class="text-white text-2xl sm:text-3xl mb-4">Email</h3>
            <p class="uppercase">
              <a class="has-line-link-white" href="mailto:info@adriantalks.com">
                <span class="line-link-el">info&#64;adriantalks.com</span>
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-10 lg:mt-16 gy-4">
      <div class="lg:col-7">
        <ul
          class="flex flex-wrap gap-y-3 gap-x-10 ms:gap-x-10 xl:gap-x-16 capitalize"
        >
          <li>
            <a
              class="has-line-link-white"
              routerLink="/author/adrian-de-battista"
              ><span class="line-link-el">Author</span></a
            >
          </li>
          <li>
            <a class="has-line-link-white" routerLink="/about"
              ><span class="line-link-el">About</span></a
            >
          </li>
          <li>
            <a class="has-line-link-white" routerLink="/contact"
              ><span class="line-link-el">Contact</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
