<main class="min-h-[80vh]">
  <section class="py-16 md:py-24">
    <div class="container text-center">
      <h1
        class="md:text-5xl text-3xl text-white font-normal text-balance leading-tight capitalize relative z-10 mix-blend-difference mb-0 md:mb-8"
      >
        <span
          class="inline-block bg-white w-6 md:w-16 h-px align-middle"
        ></span>
        Page not found
      </h1>
      <div
        class="text-[120px] sm:text-[200px] flex gap-x-7 items-center justify-center scale-75 md:scale-100"
      >
        <span>4</span>
        <span>0</span>
        <span>4</span>
      </div>
      <p class="text-balance text-[#4F4C2F]">
        Sorry, that page can't be found. Maybe the page have moved.
      </p>
      <a
        class="inline-flex flex-col items-center justify-center bg-dark hover:bg-primary transition-all rounded-full h-20 w-20 text-white mt-10 relative group"
        routerLink="/"
        ><span
          class="has-transition top-2/3 -translate-y-1/2 absolute scale-75 opacity-0 group-hover:top-1/2 group-hover:opacity-100 group-hover:scale-100 text-sm"
          >Home</span
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="has-transition group-hover:opacity-0 group-hover:-translate-y-6 group-hover:translate-x-6 group-hover:scale-75"
        >
          <path d="M7 7h10v10"></path>
          <path d="M7 17 17 7"></path></svg
      ></a>
    </div>
  </section>
</main>
