<main class="flex flex-col min-h-[80vh]">
  <!-- Start Banner Area -->
  <div class="waveBg px-3 md:px-10 xl:px-1 py-24 text-center text-white">
    <div class="container relative">
      <div class="relative w-full max-w-4xl mx-auto z-10">
        <h1
          class="text-3xl sm:text-4xl md:text-5xl text-white font-normal text-balance !leading-snug capitalize relative z-10 mix-blend-difference"
        >
          Creating Adrian Talks
          <span
            class="inline-block bg-white w-12 md:w-24 h-px mx-4 md:mx-8 align-middle"
          ></span>
          The Most Amazing Experience For Me And You
        </h1>
      </div>
      <p class="mt-8 font-light w-full max-w-lg mx-auto">
        Welcome to Adrian Talks! Dive into a blend of insightful blogs on
        financial wisdom, mental health, remote working, the journey of
        fatherhood, and personal development and software development. Whether
        you're seeking tips to boost your financial health, looking for guidance
        in raising a family, or striving for personal growth, Adrian Talks
        offers a thoughtful perspective to help you navigate life's diverse
        paths.
      </p>
      <div
        class="bg-[#F6F5ED] border-8 border-secondary w-28 rounded-full p-3 text-[15px] font-bold absolute -bottom-32 lg:-bottom-4 left-0 scale-75 md:scale-100"
      >
        <svg
          class="uppercase"
          viewBox="0 0 100 100"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="circlePath"
            d="M 10, 50 a 40,40 0 1,1 80,0 40,40 0 1,1 -80,0"
            fill="none"
          ></path>
          <text>
            <textPath
              href="#circlePath"
              class="font-light tracking-[0.07em] text-sm"
            >
              — scroll down — read more
            </textPath>
          </text>
        </svg>
        <svg
          class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-primary"
          width="16"
          height="18"
          viewBox="0 0 16 18"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M9 1C9 0.447715 8.55228 -2.41412e-08 8 0C7.44772 2.41412e-08 7 0.447715 7 1L9 1ZM7.29289 17.7071C7.68342 18.0976 8.31658 18.0976 8.70711 17.7071L15.0711 11.3431C15.4616 10.9526 15.4616 10.3195 15.0711 9.92893C14.6805 9.53841 14.0474 9.53841 13.6569 9.92893L8 15.5858L2.34315 9.92893C1.95262 9.53841 1.31946 9.53841 0.928933 9.92893C0.538408 10.3195 0.538408 10.9526 0.928933 11.3431L7.29289 17.7071ZM7 1L7 17L9 17L9 1L7 1Z"
            fill="currentColor"
          ></path>
        </svg>
      </div>
    </div>
  </div>
  <!-- End Banner Area -->

  <!-- Start Description Area -->
  <div class="py-16 sm:py-24">
    <div class="container">
      <div class="row justify-center">
        <div class="lg:col-8">
          <h2 class="text-3xl sm:text-4xl mb-8 !leading-snug">
            Why Adrian Talks Blog ?
          </h2>
        </div>
      </div>
      <div class="row gy-4 justify-center">
        <div class="lg:col-3">
          <img
            alt="About Adrian De Battista"
            loading="lazy"
            width="245"
            height="290"
            class="rounded-md relative -z-10 -mt-14 bg-dark/10"
            src="https://tasteimages.blob.core.windows.net/adriantalks/about.jpg"
          />
        </div>
        <div class="lg:col-7">
          <div class="prose content max-w-none">
            <p>
              Writing blogs about fatherhood, financial health, mental health,
              web development, and personal development brings me immense joy
              because these topics resonate deeply with my experiences and
              aspirations. Each article I craft reflects a genuine desire to
              share insights, lessons, and encouragement that can guide others
              toward a more fulfilling and balanced life. Whether discussing the
              challenges of parenthood, offering financial tips, or delving into
              personal growth, my goal is to inspire others to see their
              potential and take actionable steps to achieve it.
            </p>
            <p>
              I am passionate about helping my readers turn aspirations into
              realities. My blog is a platform where I connect with individuals
              from diverse walks of life, offering guidance and tools to tackle
              their unique challenges. Seeing others succeed and thrive because
              of something I've written is incredibly rewarding and motivates me
              to keep sharing my knowledge. This journey isn't just about
              writing—it's about building a supportive community focused on
              growth, resilience, and purpose.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End Description Area -->

  <!-- Start Authors Area -->
  <section class="pb-16 sm:pb-24 bg-light">
    <div class="container">
      <div class="border-t pt-8 border-[#DBD8BD]">
        <div class="flex justify-between items-center sm:items-start">
          <h2
            class="text-base uppercase font-secondary pl-4 relative after:absolute after:rounded-full -mt-1 after:content-[''] after:h-2 after:w-2 after:bg-primary after:left-0 after:top-2"
          >
            Meet our author
          </h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row gy-5 mt-14">
        <div class="sm:col-12 lg:col-12">
          <a class="text-center group" routerLink="/author/adrian-de-battista">
            <img
              alt="Adrian De Battista"
              loading="lazy"
              width="200"
              height="200"
              class="rounded-full h-32 w-32 mx-auto bg-dark/10"
              src="https://tasteimages.blob.core.windows.net/adriantalks/drinu.jpg"
            />
            <div class="relative">
              <h4
                class="text-2xl font-secondary mt-5 mb-2 has-transition group-hover:-translate-y-3 group-hover:opacity-10"
              >
                Adrian De Battista
              </h4>
              <p
                class="font-light text-[#777777] has-transition group-hover:-translate-y-3 group-hover:opacity-10"
              >
                Senior Web Developer & Blogger
              </p>
              <span
                class="inline-flex items-center gap-3 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 has-transition mt-5 opacity-0 invisible group-hover:opacity-100 group-hover:visible group-hover:-translate-y-10"
              >
                View Blogs
                <svg
                  class="relative top-[2px]"
                  width="10"
                  height="10"
                  viewBox="0 0 19 19"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.33008 17.4023L17.3301 1.40234M17.3301 1.40234H2.93008M17.3301 1.40234V15.8023"
                    stroke="black"
                    stroke-width="3"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- End Authors Area -->
</main>
