<header
  class="absolute right-0 left-0 origin-top backdrop-blur-lg bg-light/85 text-center z-50 top-[90px] menu"
  [class.isOpen]="isOpen"
>
  <nav>
    <ul class="">
      <li>
        <span class="block"><a routerLink="">Home</a></span>
      </li>
      <li>
        <span class="block"><a routerLink="/about">About</a></span>
      </li>
      <li>
        <span class="block"
          ><a routerLink="/author/adrian-de-battista">Author</a></span
        >
      </li>
      <li>
        <span class="block"><a routerLink="/blogs">Blogs</a></span>
      </li>
      <li>
        <span class="block"><a routerLink="/contact">Contact</a></span>
      </li>
    </ul>
  </nav>
</header>
